<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/challenge.css" />
    <title>Reto</title>
  </head>
  <body>
    <main>
      <h1 class="text-center text-3xl my-10">Retos del Curso</h1>
      <section>
        <button
          class="ml-20 btn bg-blue-600 w-full sm:w-1/2 md:w-2/5 lg:w-1/6 xl:w-7/12 rounded"
        >
          Submit
        </button>
      </section>

      <section class="my-10">
        <h2 class="text-center text-3xl mb-10">Display Flex buttons</h2>
        <div class="flex">
          <button class="btn btn-blue ml-10">Boton 1</button>
          <button class="btn btn-red ml-10">Boton 2</button>
          <button class="btn btn-yellow active:bg-red-500 ml-10">
            Boton 3
          </button>
        </div>
      </section>
      <section>
        <h2 class="text-center text-3xl">Alerts</h2>
        <div class="w-100 ml-5">
          <div class="alert alert-neutro">Esta es una alerta por default</div>
          <div class="alert alert-danger">Este mensaje es un alerta danger</div>
          <div class="alert alert-warning">
            Este mensaje es un alerta warning
          </div>
          <div class="alert alert-info">Este mensaje es un alerta info</div>
        </div>
      </section>
    </main>
  </body>
</html>
