<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Disable</title>
  </head>
  <body>
    <main>
      <!-- Variantes y Pseudo-clases -->
      <section>
        <button
          class="disabled:opacity-25 bg-green-500 ml-20 mt-10 text-white"
          disabled
        >
          Submit
        </button>
      </section>
    </main>
  </body>
</html>
