<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Food Store</title>
  </head>
  <body class="mx-4">
    <main>
      <!-- Esto pertenece a colores -->
      <!-- Propiedades utiles 
        Heigth
        width
        margin
        padding
       -->
      <!-- <h1 class="h-32 w-1/2 bg-yellow-500 text-red-600">Hello World</h1> -->
      <!--       <h1
              class="h-32 w-1/5 mt-4 ml-4 mb-4 pt-5 pl-4 bg-yellow-500 text-red-600"
            >
              Hello World
            </h1> -->
      <section>
        <h1
          class="font-sans text-3xl tracking-tight-wide line-underline lowercase"
        >
          HELLO WORLD
        </h1>
        <p class="my-8 leading-relax text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eveniet
          porro eum incidunt ab autem totam reprehenderit? Voluptatibus
          molestiae, distinctio veniam quod commodi obcaecati aspernatur ratione
          cum, necessitatibus saepe repellat?
        </p>
        <p class="font-serif text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          veniam deleniti a sed totam. Vel impedit incidunt, ad exercitationem
          veritatis voluptatum omnis nemo praesentium, dolores nam debitis est
          aliquam quod.
        </p>
        <p class="font-mono text-xs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          veniam deleniti a sed totam. Vel impedit incidunt, ad exercitationem
          veritatis voluptatum omnis nemo praesentium, dolores nam debitis est
          aliquam quod.
        </p>
        <ul class="text-4xl">
          <li class="italic">lorem ipsum</li>
          <li class="font-bold">lorem ipsum</li>
          <li class="font-extrabold">lorem ipsum</li>
          <li class="font-light">lorem ipsum</li>
          <li class="font-hairline">lorem ipsum</li>
        </ul>
      </section>
    </main>
  </body>
</html>
